:root{
  --white: rgb(255, 255, 255);
  --dark-blue:#85b6cce3;
  --black:rgb(0, 0, 0);
}


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.container-primary{
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0px auto;
}

.container-secondary{
  width: 75%;
  max-width: 1200px;
  min-width: 300px;
  margin: 150px auto;
 
}

.bg{
  background-color: var(--dark-blue);
}

.debug{
  background-color: brown;
  border: 1px solid rgb(0, 0, 0);
  }

  a{
    text-decoration: none;
  }

  .d-flex{
  display: flex;
  }

  h1,h3{
  color: black;
  font-weight: 800;
  }

  h4{
  color: white;
  }

  ul{
  list-style: none;
  }

  li{
    list-style-type: none;
  }

  .position-rel{
    position: relative;
  }


  .btn{
    background-color:rgb(34, 67, 252);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .btn:hover{
    background-color:rgba(50, 112, 245, 0.849);
  }

  

  .btn-gratis{
    width: auto;
    height: auto;
    background-color:rgb(34, 67, 252);
    color: white;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
  }
  
  .btn-gratis:hover{
    background-color:rgba(50, 112, 245, 0.849);
  }
  /* inizio header */


  header .menu-fixed{
    position: fixed;
    z-index: 999;
    height: 90px;
    width: 100%;
    top: 0px;
    background-color: var(--white);

  }

  header .menu-fixed .menu{
    justify-content: space-between;
    height: 100%;
  }
  

  /* menu left */

  .menu .menu-left ul{
    height: 100%;
    justify-content: center;
    align-items: center;
    transition:border-bottom 1px solid black none;
  }

  .menu .menu-left ul li{
    padding-right:20px;
  }

  .menu .menu-left li a, 
  .menu-right li a{
    color: var(--black);
    text-decoration: none;
    text-align: left;
  }

  .menu .menu-left a:hover, 
  .menu .menu-right a:hover{
 text-decoration: underline;
 text-underline-offset: 38px;
  }

  


  /* fine menu left */

  /* inizio menu right */

  .menu .menu-right ul{
    height: 100%;
    justify-content: center;
    align-items: center;
    transition:border-bottom 1px solid black none;
  }

  .menu .menu-right ul li{
    padding-right:20px;
  }

  .menu .menu-right ul .start a{
    color: white;
   
  }

  .menu .menu-right ul .start:hover{
    background-color: rgb(71, 113, 250);
  }
  /* Tornare su hover per far vedere il border  */

  /* inizio  main */

  /* prima section */

  main .bg{
    margin-top: 90px;
    height: 800px;
    width: 100%;
  }

  .container-primary h1{
    font-size: 4.5rem;
    padding-top: 60px;
  }

  .box-jambo{
    height: 545px;
    padding-top: 25px;
  }

  .box-jambo .box-text{
    width: 50%;
    text-align: left;
    position: relative;
  }

  .box-jambo .box-text p{
    padding-top: 10px;
    padding-bottom:60px;
    font-weight: 600;
  }

  .box-jambo .box-text a{
    margin-top: 20px;
  }

  .box-jambo .box-text span{
    display: inline-block;
    margin-top: 60px;
    padding: 0px;
    font-weight: 600;
  }

  .box-jambo .box-text a i{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3rem;
    color: var(--black);
  }

  .box-jambo .box-img{
   flex-basis: 100%;
  }

  .box-jambo .box-img img{
    width: 128%;
    height: 119%;
    object-fit: cover;
  }

  /* fine prima section */

  /* inizio seconda section */

  .business h1{
    font-size: 2.5rem;
  }

  .business .circle-monthly{
    display: inline-block;
    background-color: white;
    border: 3px solid blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .business .circle-annual{
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(184, 184, 184);
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

.business span{
  display: inline-block;
    padding: 80px 0px;
    margin-right: 80px;
  }

  .box-list-pay{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
   
  }

  .box-list-pay .col-pay{
    width: 30%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .col-pay span{
    width: 100%;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .col-pay span i{
   margin-right: 5px;
  }

  .information{
    width: 100%;
    text-align: left;
    padding: 20px 20px;
  }

  .information h2{
    font-weight: 800;
  }
  
  .information span{
    display: inline-block;
    text-align: left;
    border: 0px;
    padding: 15px 0px;
    font-weight: 600;
  }

  .information span:nth-child(3){
    color: rgba(0, 0, 0, 0.6);
  }

  
  .fa-ul {
    margin-left: var(--fa-li-margin,1.5em);
    margin-top: 15px;
  }

  ul li{
    padding: 10px 0px;
    font-weight: 500;
  }
  
  .btn-gratis{
    margin-top: 15px;
  }
  
  .information span:last-child{
    text-decoration: underline;
  }
  
  .information h3{
    font-size: 1rem;
    margin-top: 60px;
  }
  
  .information ul .fa-check{
    color: blue;
  }

  .row-pay{
    flex-grow: 1;
    width: 30%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    position: relative;
  }

  .row-pay span{
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
  padding: 0px 0px;
  padding-bottom: 10px;
  }

  .row-pay .information span{
    padding: 10px 0px;
    border: 0px;
    font-weight: 700;
  }

  .row-pay p{
    margin: 30px 0px;
    font-weight: 500;

  }

  .right{
    position: absolute;
    top: 5px;
    right: 10px;
  }

  /* fine seconda section */

  /* inizio terza section */

  .box-partner{
    height: 600px;
    width: auto;
    margin-top: 100px;

  }

  .box-partner .box-img{
   height: 100%;
   width: 65%;
  }

  .box-partner .box-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .box-partner .box-text{
    height: 100%;
    width: 35%;
    padding: 50px 20px;
  }

  .box-partner .box-text p{
    display: block;
    margin: 30px 0px;
    font-weight: 600;

  }


  .partner{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: 10px;
    font-weight: 500;
  }

  /* fine terza section */

  /* inizio quarta section */

  .operation h2{
    font-size: 2.6rem;
    margin-bottom: 50px;
  }

  .box-operation{
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .col-operation{
    height: 500px;
    width: 324px;
    margin: 10px;
    flex-direction: column;
  }

  .col-operation img{
    width: 100%;
    height:52%;
    object-fit: contain;
  }

  .col-operation p{
    margin-top: 20px;
    font-weight: 600;
  }

  .text-numer h1{
    padding: 40px 0px;
    font-size: 2rem;
  }
  
 /* inizio quinta section */

 .text-number h1{
  font-size: 2.5rem;
 }

 .text-number a{
  display: inline-block;
  text-decoration: underline;
  margin-top: 60px;
 }


 /* inizio settima section */


  .company .big-square{
   width: 100%;
}

.company .big-square .square{
  flex-wrap: wrap;
  width: calc(100%/3);
  height: calc(100vw/3);
}

.company .big-square .square .small-square{
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.company .big-square .square .small-square svg{
  color: white;
  display: inline-block;
  filter: invert(1);
  width: 60%;
  object-fit: contain;
}

.small-square.designit{
  background-color: rgb(66, 167, 35);

}

.small-square.designit:hover{
box-shadow: inset 0px 0px 0px 10px rgb(129, 235, 97);
}

.small-square.arizon{
  background-color: rgb(68, 12, 12);
}

.small-square.arizon:hover{
  box-shadow: inset 0px 0px 0px 10px rgb(134, 43, 43);
  }

.small-square.florida{
  background-color: rgba(32, 121, 255, 0.822);
}

.small-square.florida:hover{
  box-shadow: inset 0px 0px 0px 10px rgba(47, 89, 153, 0.822);
  }

.small-square.topps{
  background-color: rgb(255, 25, 9);
}

.small-square.topps:hover{
  box-shadow: inset 0px 0px 0px 10px rgb(182, 58, 49);
  }

.small-square.bicycle{
  background-color: rgba(255, 0, 0, 0.87);
}

.small-square.bicycle:hover{
  box-shadow: inset 0px 0px 0px 10px rgb(224, 85, 85);
  }

.small-square.hearst{
  background-color: rgba(144, 179, 233, 0.87);
}

.small-square.hearst:hover{
  box-shadow: inset 0px 0px 0px 10px rgba(70, 129, 218, 0.87);;
  }

.small-square.planet{
  background-color: rgba(2, 0, 146, 0.87);
}

.small-square.planet:hover{
  box-shadow: inset 0px 0px 0px 10px rgba(63, 60, 228, 0.87);
  
  }

.small-square.clear{
  background-color: rgba(255, 251, 0, 0.87);
}

.small-square.clear:hover{
  box-shadow: inset 0px 0px 0px 10px rgba(252, 249, 105, 0.87);;
 }

.company .big-square .square.central{
  padding: 10px 30px;
  overflow-y:auto;
  background-color: lightgray;
  flex-direction: column;
}

.square.central .svg-central{
  height: 30%;
  width: 50%;
}

.square.central .svg-central svg{
  height: 100%;
  width: 100%;
}

.square.central p, span{
  padding: 20px 0px;
}
  
  /* fine quinta section */

  /* inizio sesta section */

  .text-subscribe{
  height: 400px;
  width: 100%;
  background-color: var(--dark-blue);
  }

  .subscribe{
    margin:0px auto;
  }

  .subscribe .col-subscribe-left, .col-subscribe-right{
    align-items: center;
    height: 400px;
    width: 100%;
  }

  .subscribe .col-subscribe-left h2{
  font-size: 2rem;
  color: rgb(90, 23, 23);
  }
  
  .subscribe .col-subscribe-right{
    justify-content: end;
  }

  .subscribe .col-subscribe-right .btn{
    background-color: var(--white);
    color: black;
    padding: 10px 45px;
    font-weight: 500;
  }

  .subscribe .col-subscribe-right .btn:hover{
    background-color: var(--dark-blue);
    color: rgb(90, 23, 23);
  }

  
  /* fine sesta section */

  /* inizio settima section */

.question{
  border-bottom: 1px solid black;
}

.question h2{
  font-size: 2rem;
  margin-bottom: 75px;
}

.question h3 {
  width: 100%;
  display: inline-block;
  padding: 30px 0px;
  padding-right: 60px;
  border-top:1px solid black ;
}

.question div{
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}

.question p{
  display: none;
}

.question .question-text:hover p{
  display: inline-block;
  padding-bottom: 15px;
}


.question i{
  position: absolute;
  top: 35px;
  right: 10px;
}

.question .question-text:hover i{
  transform: rotate(180deg);
}


 /* fine settima section */

/* inizio footer */

footer{
  background-color: var(--black);
  color: white;
}

.footer-information{
  justify-content: space-between;
  padding: 100px 0px;
}

.footer-information .col-footer{
  width: 200px;
} 

.footer-information .col-footer h2{
  color: white;
  padding: 20px 0px;
}

.footer-information .col-footer li a{
  color: white;

}

.linguage span{
  display: inline-block;
  border-top:1px solid white;
  padding-top: 40px;
  padding-right: 20px;
  text-align: left;
}

.linguage i{
  padding: 0px 5px;
  font-size: 0.8rem;
}

/* fine footer */
