:root{
  --white: rgb(255, 255, 255);
  --dark-blue:#3f8db1e3;
  --black:rgb(0, 0, 0);
}


*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.container-primary{
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  margin: 0px auto;
}

.container-secondary{
  width: 75%;
  max-width: 1200px;
  min-width: 300px;
  margin: 150px auto;
 
}

.bg{
  background-color: var(--dark-blue);
}

.debug{
  background-color: brown;
  border: 1px solid rgb(0, 0, 0);
  }

  .d-flex{
  display: flex;
  }

  h1,h3{
  color: black;
  font-weight: 800;
  }

  h4{
  color: white;
  }

  ul{
  list-style: none;
  }

  li{
    list-style-type: none;
  }

  .position-rel{
    position: relative;
  }


  .btn{
    width: auto;
    height: auto;
    background-color:blue;
    color: white;
    padding: 10px 20px;
  }

  .btn-gratis{
    width: auto;
    height: auto;
    background-color:blue;
    color: white;
    text-align: center;
    padding: 10px 10px;

  }
  
  /* inizio header */


  header .menu-fixed{
    position: fixed;
    z-index: 999;
    height: 90px;
    width: 100%;
    top: 0px;
    background-color: var(--white);

  }

  header .menu-fixed .menu{
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid black;
  }
  

  /* menu left */

  .menu .menu-left ul{
    height: 100%;
    justify-content: center;
    align-items: center;
    transition:border-bottom 1px solid black none;
  }

  .menu .menu-left ul li{
    padding-right:20px;
  }

  a{
    color: var(--black);
    text-decoration: none;
    text-align: left;
  }

  /* fine menu left */

  /* inizio menu right */

  .menu .menu-right ul{
    height: 100%;
    justify-content: center;
    align-items: center;
    transition:border-bottom 1px solid black none;
  }

  .menu .menu-right ul li{
    padding-right:20px;
  }



  /* Tornare su hover per far vedere il border  */

  /* inizio  main */

  /* prima section */

  main .bg{
    margin-top: 90px;
    height: 800px;
    width: 100%;
  }

  .container-primary{
    text-align: center none;
  }

  .container-primary h1{
    font-size: 4.5rem;
    padding-top: 60px;
  }

  .box-jambo{
    height: 545px;
    padding-top: 25px;
  }

  .box-jambo .box-text{
    width: 50%;
    height: 100%;
    text-align: left;
    position: relative;
  }

  .box-jambo .box-text p{
    padding-top: 10px;
    padding-bottom:60px;
  }

  .box-jambo .box-text a{
    margin-top: 20px;
  }

  .box-jambo .box-text span{
    display: inline-block;
    margin-top: 60px;
  }

  .box-jambo .box-text i{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2rem;
  }


  .box-jambo .box-img{
   flex-basis: 100%;
  }

  .box-jambo .box-img img{
    width: 128%;
    height: 119%;
    object-fit: cover;
  }

  /* fine prima section */

  /* inizio seconda section */

  .business h1{
    font-size: 2.5rem;
  }


  .business .circle-monthly{
    display: inline-block;
    background-color: white;
    border: 3px solid blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .business .circle-annual{
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(184, 184, 184);
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

.business span{
  display: inline-block;
    padding: 80px 0px;
    margin-right: 80px;
  }

  .box-list-pay{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
   
  }

  .box-list-pay .col-pay{
    width: 30%;
  min-width: auto;
    text-align: center;
    border: 1px solid black;
  }

  .col-pay span{
    width: 100%;
   text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid black;
  }

  .col-pay span i{
   margin-right: 5px;
  }

  .information{
    width: 100%;
    text-align: left;
    padding: 20px 20px;
  }


  .information span{
    display: inline-block;
    text-align: left;
    border: 0px;
    padding: 10px 0px;
    font-weight: 600;
  }

  
  ul li{
    padding: 10px 0px;
  }
  
  .btn-gratis{
    margin-top: 15px;
  }
  
  /* Appunto: sistemare l'allineamento del testo dentro la tabella a sinistra +
  gli spazi tar gli span e il border  */
  


  .row-pay{
    flex-grow: 1;
    width: 30%;
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
    position: relative;
  }


  .row-pay span{
  display: block;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  padding: 0px 0px;
  padding-bottom: 10px;
  }

  .row-pay p{
    margin-top: 30px;
  }

  .right{
    position: absolute;
    top: 5px;
    right: 10px;
  }

  /* da sistemare */

  /* fine seconda section */

  /* inizio terza section */

  .box-partner{
    height: 600px;
    width: auto;
    margin-top: 100px;

  }

  .box-partner .box-img{
   height: 100%;
   width: 65%;
  }

  .box-partner .box-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .box-partner .box-text{
    height: 100%;
    width: 35%;
    padding: 50px 20px;
  }

  .box-partner .box-text p{
    display: block;
    margin: 30px 0px;
  }


  .partner{
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: 10px;
  }

  /* fine terza section */

  /* inizio quarta section */

  .operation h2{
    font-size: 2.6rem;
    margin-bottom: 50px;
  }

  .box-operation{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col-operation{
    height: 500px;
    width: 324px;
    margin: 10px;
   
    flex-direction: column;
  }

  .col-operation img{
    width: 100%;
    height:52%;
    object-fit: contain;
  }

  .col-operation p{
    margin-top: 20px;
    font-weight: 600;
  }

  .text-numer h1{
    padding: 40px 0px;
    font-size: 2rem;
  }
  
 /* inizio quinta section */

  .company{
    height:500px;
    background-color: darkcyan;
  }
  
  /* fine quinta section */

  /* inizio sesta section */

  .text-subscribe{
  height: 400px;
  width: 100%;
  background-color: var(--dark-blue);
  }

  .subscribe{
    margin:0px auto;
  }

  .subscribe .col-subscribe-left, .col-subscribe-right{
    align-items: center;
    height: 400px;
    width: 100%;
  }

  .subscribe .col-subscribe-left h2{
  font-size: 2rem;
  color: rgb(90, 23, 23);
  }
  
  .subscribe .col-subscribe-right{
    justify-content: end;
  }

  .subscribe .col-subscribe-right .btn{
    background-color: lightgray;
    color: black;
    padding: 10px 45px;
  }